body {
    margin: 0;
    text-align: center;
    background: white;
}

h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#canvas {
    margin-top: 10px;
    background: white;
    box-shadow: 1px 1px 5px;
}

.buttons {
    margin: 10px;
}

button:hover {
    opacity: 0.9;
}

button:focus {
    outline: none;
}

#start,
#clear {
    height: 30px;
    width: 150px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    background: #b94e4e;
}
